.display-4 {
  width: 200px;
  color: white; }

.col-md-6 {
  width: 220px;
  color: white; }

.lead {
  background-color: black;
  color: white; }

.p-4 align-self-end 1 {
  width: 20em; }

.p-4 align-self-end 2 {
  width: 40em; }

.p-4 align-self-end 3 {
  width: 60em; }

.Uno {
  color: yellow; }

.Dos {
  color: yellow; }

.Tres {
  color: yellow; }
